.postevent-screen-wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 87, 122, 0.7);
  height: 40vh;
  width: 70%;
  max-width: 700px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 8px;
  border-radius: 1rem;
}

/* form .event-label {

} */
