.event-page-wrapper {
  height: 100%;
  min-height: 100vh;
  margin: 10vh 3vw 10vh 3vw;
}

.event-listing-container {
  display: grid;
  /* min-height: 60vh; */
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  /* justify-content: space-evenly; */
  /* background-color: #f2f2f2; */
  /* background-color: #65ccb8; */
  background-color: rgba(17, 12, 46, 0.35);
  border: 3px solid rgba(24, 38, 40, 0.9);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  column-gap: 50px;
  row-gap: 30px;
  /* max-width: 70vw; */
}

.event-name-container {
  background-color: #65ccb8;
  border-radius: 0.5rem;
  padding: 8px;
  border: 3px solid rgba(24, 38, 40, 0.9);
}

.event-description-container {
  background-color: #65ccb8;
  border-radius: 0.5rem;
  padding: 8px;
  border: 3px solid rgba(24, 38, 40, 0.9);
}
.event-location-container {
  background-color: #65ccb8;
  border-radius: 0.5rem;
  padding: 8px;
  border: 3px solid rgba(24, 38, 40, 0.9);
}
.event-capacity-container {
  background-color: #65ccb8;
  border-radius: 0.5rem;
  padding: 8px;
  border: 3px solid rgba(24, 38, 40, 0.9);
}
.date-time-container {
  background-color: #65ccb8;
  border-radius: 0.5rem;
  padding: 8px;
  border: 3px solid rgba(24, 38, 40, 0.9);
}
.weather-container {
  background-color: #65ccb8;
  border-radius: 0.5rem;
  padding: 8px;
  border: 3px solid rgba(24, 38, 40, 0.9);
}

.event-listing-container p {
  margin-bottom: 12px;
}

.event-listing-labels {
  text-decoration: underline;
  letter-spacing: 1px;
  font-weight: 550;
}
