body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  color: #22577a;
  color: rgba(34, 87, 122);

  color: #38a3a5;
  color: rgba(56, 163, 165);

  color: #57cc99;
  color: rgba(87, 204, 153);

  color: #80ed99;
  color: rgba(128, 237, 153);

  color: #c7f9cc;
  color: rgba(199, 249, 204);
}

:root {
  color: #182628;

  color: #65ccb8;

  color: #57ba98;

  color: #3b945e;

  color: #f2f2f2;
}
